<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381264833820-hl253d1095jmth7pv4jh2dgo7d0a91qs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381264833820-hl253d1095jmth7pv4jh2dgo7d0a91qs</string>
	<key>API_KEY</key>
	<string>AIzaSyAFUYOTUKxbQdzclEKQGjhVCDN9vn9qahM</string>
	<key>GCM_SENDER_ID</key>
	<string>381264833820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nibnox.nibserveDashboard</string>
	<key>PROJECT_ID</key>
	<string>nibserve</string>
	<key>STORAGE_BUCKET</key>
	<string>nibserve.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381264833820:ios:d2d7fc3e68815af3cfded9</string>
</dict>
</plist>